nav ul {
  background-color: aqua;
  list-style: none;
  padding: 5px;
  width: 200px;
  border: 2px solid MediumVioletRed;
}

nav ul li{
  border-bottom: 1px solid MediumVioletRed;
  padding: 5px;
}

body {
    font-family: system-ui;
    background: #ffffff;
    color: #000000;
    text-align: center;
  }

  article figure {
    width: 600px;
    border: 3px solid black;
  }
  
  h1 {
    color: black;
  }
  
  p {
    background: #ddf0c6;
  }
